doctype html
html
  head
    title Event #{event.taskid} @#{event.time[0]}
  body
    h3 Time: #{event.time[0]}, Window: #{event.window}
    div
      a(href='/files/#{event.taskid}.fits') Download NASA FITS File
    div
      img(src= event.images.original)
