doctype html
html
  head
    title= station.name
  body
    h1(style='font-family:verdana;') #{station.name} (#{station.status}) 
    h2(style='font-family:verdana;') #{station.subcluster}, #{station.cluster}, #{station.country}
    h2(style='font-style:italic') Latitude: #{station.location.latitude}, &nbsp;Longitude: #{station.location.longitude},  &nbsp;Altitude: #{station.location.altitude}m
    h2(style='font-style:italic') Live since: #{station.livetime}
    each event, i in station.events
      div(style='float:left; margin-right:5pt')
        a(href='/api/stations/#{station._id}/events/#{i}')
          img(src= event.images.thumb)